.box-wrapper {
   max-width: 1440px;
   margin: auto;
   scroll-behavior: smooth;
   box-sizing: content-box;
}

.customer-footer {
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
}