<div class="card w-full border-0">
    <div class="card-body w-full">
        <app-breadcrum [items]="breadCrumb"></app-breadcrum>
        <div class="d-md-flex justify-content-between mb-4">
            <h2 class="text-2xl font-bold">View Dashboard</h2>
        </div>
    </div>
    <div class="card-body">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-4">
            <div class="dashboard-item" *ngFor="let item of dashboardItems">
                <div [ngClass]="item.class" class="item-content">
                    <h6 class="text-lg font-semibold mb-2">{{ item.title }}</h6>
                    <p class="text-md mb-2">{{ item.description }}</p>
                    <b class="text-6xl">{{ item.value }}</b>
                    <a [href]="item.link" class="btn btn-link mt-3">Xem chi tiết</a>
                </div>
            </div>
        </div>
		<!-- <div class="flex flex-col md:flex-row gap-4 my-6">
			<div class="p-6 bg-emerald-600 text-gray-50 rounded-lg shadow-sm flex-1">
				<h3 class="text-2xl font-bold">Blog</h3>
				<h2 class="my-5 text-4xl font-bold">Bài dịch vụ vệ sinh giày</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque molestiae incidunt officiis veritatis, architecto nam soluta, exercitationem minima laudantium harum qui.</p>
				<div class="my-5"></div>
				<a href="#" class="text-emerald-200 hover:underline flex items-center">Xem chi tiết <i class="bi bi-arrow-right ml-2"></i></a>
			</div>
		
			<div class="p-3 bg-gray-100 rounded-lg shadow-sm max-w-xs flex-1">
				<div class="flex justify-between items-center mb-2">
					<h3 class="text-lg font-bold text-gray-900">Top 5</h3>
					<a href="#" class="text-xs font-medium text-emerald-500 hover:underline">View All</a>
				</div>
				<div class="flow-root">
					<ul role="list" class="divide-y divide-gray-200">
						<li class="py-2 sm:py-3 flex items-center space-x-3">
							<div class="flex-shrink-0">
								<img class="w-4 h-4 rounded-full" src="https://placehold.co/100x100?text=1" alt="product image">
							</div>
							<div class="flex-1 min-w-0">
								<p class="text-xs font-medium text-gray-900 truncate">Product 1</p>
							</div>
						</li>
						<li class="py-2 sm:py-3 flex items-center space-x-3">
							<div class="flex-shrink-0">
								<img class="w-4 h-4 rounded-full" src="https://placehold.co/100x100?text=2" alt="product image">
							</div>
							<div class="flex-1 min-w-0">
								<p class="text-xs font-medium text-gray-900 truncate">Product 2</p>
							</div>
						</li>
						<li class="py-2 sm:py-3 flex items-center space-x-3">
							<div class="flex-shrink-0">
								<img class="w-4 h-4 rounded-full" src="https://placehold.co/100x100?text=3" alt="product image">
							</div>
							<div class="flex-1 min-w-0">
								<p class="text-xs font-medium text-gray-900 truncate">Product 3</p>
							</div>
						</li>
						<li class="py-2 sm:py-3 flex items-center space-x-3">
							<div class="flex-shrink-0">
								<img class="w-4 h-4 rounded-full" src="https://placehold.co/100x100?text=4" alt="product image">
							</div>
							<div class="flex-1 min-w-0">
								<p class="text-xs font-medium text-gray-900 truncate">Product 4</p>
							</div>
						</li>
						<li class="py-2 sm:py-3 flex items-center space-x-3">
							<div class="flex-shrink-0">
								<img class="w-4 h-4 rounded-full" src="https://placehold.co/100x100?text=5" alt="product image">
							</div>
							<div class="flex-1 min-w-0">
								<p class="text-xs font-medium text-gray-900 truncate">Product 5</p>
							</div>
						</li>
					</ul>
					<div class="flex justify-end font-medium text-xs pt-3">
						<a href="#" class="text-emerald-500 hover:underline">View Sales Report</a>
					</div>
				</div>
			</div>
		</div> -->
    </div>
</div>
<app-loading [loading]="loading"></app-loading>
