.form-register {

	.register-user-container {
		max-width: 600px;
		margin: auto;
		text-align: center;
		padding: 40px;
		font-family: Arial, sans-serif;
	}

	h1 {
		color: #000000;
		font-size: 28px;
		font-weight: normal;
		line-height: 32px;
		margin-top: 0;
		margin-bottom: 30px;
		text-align: left;
	}

	.form-field {
		position: relative;
		margin-bottom: 20px;
		text-align: left;
	}

	.form-field label {
		position: absolute;
		top: -10px;
		left: 15px;
		background-color: #fff;
		padding: 0 5px;
		font-size: 14px;
		color: #666;
		z-index: 1;
	}

	.form-field select,
	.form-field input {
		width: 100%;
		padding: 12px 19px 12px 19px;
		border: 1px solid #a7a7a7;
		border-radius: 10px;
		font-size: 16px;
		outline: none;
		box-sizing: border-box;
		height: 50px;
	}

	.form-field select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E') no-repeat right 20px center;
		background-size: 18px 18px;
	}

	.text-end {
		text-align: right;
	}

	.custom-button {
		background-color: #000000;
		color: #ffffff;
		border: .5px solid transparent;
		padding: 10px 20px;
		border-radius: 25px;
		font-size: 16px;
		cursor: pointer;
		font-weight: 500;
		transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	}

	.custom-button:hover {
		background-color: #ffffff;
		color: #000000;
		border-color: #000000;
	}

	.form-field.error-password input,
	.form-field.error-password select {
		border-color: red;
	}

	.form-field.valid-password input,
	.form-field.valid-password select {
		border-color: green;
	}

	.password-container {
		position: relative;
	}

	.password-icon {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}
}
