<div *ngIf="isVisible" class="modal">
  <div class="modal-content">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <h2>{{ modalTitle }}</h2>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" [(ngModel)]="blog.name" name="name">
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        <input type="text" id="image" [(ngModel)]="blog.image" name="image">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea id="content" [(ngModel)]="blog.content" name="content"></textarea>
      </div>
      <button type="button" (click)="saveBlog()">Save</button>
    </form>
  </div>
</div>
