.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 5% auto; /* Giảm khoảng cách trên và dưới */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Tăng độ rộng để hiển thị tốt hơn trên các màn hình */
	max-width: 800px; /* Giới hạn độ rộng tối đa */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Thêm bóng để tạo độ nổi */
	border-radius: 8px; /* Bo góc để tạo giao diện mượt mà hơn */
  }
  
  .close-button {
	color: #aaa;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
  }
  
  .close-button:hover,
  .close-button:focus {
	color: black;
	text-decoration: none;
  }
  
  .form-group {
	margin-bottom: 1em;
  }
  
  .form-group label {
	display: block;
	margin-bottom: 0.5em;
  }
  
  .form-group input,
  .form-group textarea {
	width: 100%;
	padding: 0.5em;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  .text-center {
	text-align: center;
  }
  
  .img-fluid {
	max-width: 100%;
	height: auto;
  }
  
  .d-flex {
	display: flex;
  }
  
  .justify-content-center {
	justify-content: center;
  }
  
  .align-items-center {
	align-items: center;
  }
  
  .row {
	display: flex;
	flex-wrap: wrap;
  }
  
  .col-md-6 {
	flex: 0 0 50%;
	max-width: 50%;
  }
  