<div class="register-user-container">
   <h1>Register User</h1>
   <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-field" [ngClass]="{'error': isFieldInvalid('email'), 'valid': registerForm.get('email')?.valid}">
         <label for="email">Email*</label>
         <input matInput formControlName="email" id="email" name="email" type="email"
            placeholder="Enter your email address.">
         <mat-error *ngIf="registerForm.get('email')?.hasError('required') && submitted">Email is required</mat-error>
         <mat-error *ngIf="registerForm.get('email')?.hasError('email') && submitted">Please enter a valid
            email</mat-error>
      </div>

      <div class="form-field" [ngClass]="getPasswordClass()">
         <label for="password">Password*</label>
         <div class="password-container">
            <input matInput formControlName="password" id="password" name="password"
               [type]="showPassword ? 'text' : 'password'" placeholder="Enter a password of 8 - 24 characters."
               class="password-input" style="padding-right: 55px;">
            <svg (click)="togglePasswordVisibility()" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
               fill="currentColor" class="bi password-icon" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"
               viewBox="0 0 16 16">
               <path *ngIf="!showPassword"
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
               <path *ngIf="!showPassword"
                  d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />

               <path *ngIf="showPassword"
                  d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
               <path *ngIf="showPassword"
                  d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
               <path *ngIf="showPassword"
                  d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
            </svg>
         </div>
         <mat-error *ngIf="registerForm.get('password')?.hasError('required') && submitted">Password is
            required</mat-error>
      </div>

      <div class="form-field" [ngClass]="getConfirmPasswordClass()">
         <label for="confirmPassword">Confirm Password*</label>
         <div class="password-container">
            <input matInput formControlName="confirmPassword" id="confirmPassword" name="confirmPassword"
               [type]="showConfirmPassword ? 'text' : 'password'" placeholder="Enter confirm password."
               class="password-input" style="padding-right: 55px;">
            <svg (click)="toggleConfirmPasswordVisibility()" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
               fill="currentColor" class="bi password-icon" [ngClass]="showConfirmPassword ? 'bi-eye-slash' : 'bi-eye'"
               viewBox="0 0 16 16">
               <path *ngIf="!showConfirmPassword"
                  d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
               <path *ngIf="!showConfirmPassword"
                  d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />

               <path *ngIf="showConfirmPassword"
                  d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z" />
               <path *ngIf="showConfirmPassword"
                  d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829" />
               <path *ngIf="showConfirmPassword"
                  d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z" />
            </svg>
         </div>
         <mat-error *ngIf="registerForm.get('confirmpassword')?.hasError('required') && submitted">Confirm password is
            required</mat-error>
      </div>

      <div class="form-field"
         [ngClass]="{'error': isFieldInvalid('fullname'), 'valid': registerForm.get('fullname')?.valid}">
         <label for="fullname">Full Name*</label>
         <input matInput formControlName="fullname" id="fullname" name="fullname" type="text"
            placeholder="Enter full name.">
         <mat-error *ngIf="registerForm.get('fullname')?.hasError('required') && submitted">Full Name is
            required</mat-error>
      </div>

      <div class="form-field" [ngClass]="{'error': isFieldInvalid('phone'), 'valid': registerForm.get('phone')?.valid}">
         <label for="phone">Phone*</label>
         <input matInput formControlName="phone" id="phone" name="phone" type="text"
            placeholder="Enter your phone number.">
         <mat-error *ngIf="registerForm.get('phone')?.hasError('required') && submitted">Phone number is
            required</mat-error>
      </div>

      <div class="form-field" [ngClass]="{'error': isFieldInvalid('dob'), 'valid': registerForm.get('dob')?.valid}">
         <label for="dob">Date of Birth*</label>
         <input matInput formControlName="dob" id="dob" name="dob" type="date">
         <mat-error *ngIf="registerForm.get('dob')?.hasError('required') && submitted">Date of Birth is
            required</mat-error>
      </div>

      <div class="form-field"
         [ngClass]="{'error': isFieldInvalid('gender'), 'valid': registerForm.get('gender')?.valid}">
         <label for="gender">Gender*</label>
         <select matInput formControlName="gender" id="gender" name="gender" class="custom-select">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
         </select>
         <mat-error *ngIf="registerForm.get('gender')?.hasError('required') && submitted">Gender is required</mat-error>
      </div>

      <div class="form-field"
         [ngClass]="{'error': isFieldInvalid('province'), 'valid': registerForm.get('province')?.valid}">
         <label for="province">Province*</label>
         <select matInput formControlName="province" id="province" (change)="onProvinceChange($event)">
            <option value="">Select Province</option>
            <option *ngFor="let province of provinces" [value]="province.id">{{province.name}}</option>
         </select>
         <mat-error *ngIf="isFieldInvalid('province') && submitted">Province is required</mat-error>
      </div>

      <div class="form-field" *ngIf="selectedProvince"
         [ngClass]="{'error': isFieldInvalid('district'), 'valid': registerForm.get('district')?.valid}">
         <label for="district">District*</label>
         <select matInput formControlName="district" id="district" (change)="onDistrictChange($event)">
            <option value="">Select District</option>
            <option *ngFor="let district of districts" [value]="district.id">{{district.name}}</option>
         </select>

         <mat-error *ngIf="isFieldInvalid('district') && submitted">District is required</mat-error>
      </div>

      <div class="form-field" *ngIf="selectedDistrict"
         [ngClass]="{'error': isFieldInvalid('commune'), 'valid': registerForm.get('commune')?.valid}">
         <label for="commune">Commune*</label>
         <select matInput formControlName="commune" id="commune" (change)="onCommuneChange($event)">
            <option value="">Select Commune</option>
            <option *ngFor="let commune of communes" [value]="commune.id">{{commune.name}}</option>
         </select>
         <mat-error *ngIf="isFieldInvalid('commune') && submitted">Commune is required</mat-error>
      </div>

      <div *ngIf="selectedCommune" class="form-field"
         [ngClass]="{'error': isFieldInvalid('address'), 'valid': registerForm.get('address')?.valid}">
         <label for="address">Specific Address*</label>
         <input matInput formControlName="address" id="address" name="address" type="text"
            placeholder="Enter house number, street name, etc.">
         <mat-error *ngIf="registerForm.get('address')?.hasError('required') && submitted">Address is
            required</mat-error>
      </div>

      <div class="text-end mt-1">
         <button class="custom-button" color="primary" type="submit">Register</button>
      </div>
   </form>
</div>