<app-box-wrapper>
   <div class="contain w-full flex flex-column justify-content-center align-items-center gap-4 pt-3 pb-3">
      <div class="image lg:w-4 md:w-4 sm:w-8">
         <img src="../../../../assets/images/error/401-error-message.png" class="w-full">
      </div>
      <div class="lg:w-7 md:w-7 sm:w-8 flex flex-column justify-content-center align-items-center gap-4 ">
         <h2 class="text-primary font-bold m-1">Lỗi 401</h2>
         <h1 class="text-gray-600 font-light m-0">Chúng tôi không nhận ra bạn...</h1>
         <div class="content font-light flex flex-column align-items-center gap-2">
            <div class="text-primary">Đăng nhập để thử truy cập trang này.</div>
            <div class=" text-gray-500 ">Nhấn vào đây để <a href="/" class="font-bold">Đăng nhập</a>.</div>
         </div>
      </div>
   </div>
</app-box-wrapper>