<app-header></app-header>
<div class="home">
   <app-slider></app-slider>
   <app-box-wrapper>
      <div class="home-caterogy container mt-6">
         <span class="category-title mb-5">product category</span>
         <div class="row">
            <div class="col-md-3">
               <div class="category-card d-flex align-items-center">
                  <div class="category-image">
                     <img src="https://via.placeholder.com/50" alt="Category 1">
                  </div>
                  <div class="category-name">
                     <h5>Running Shoe</h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="category-card d-flex align-items-center">
                  <div class="category-image">
                     <img src="https://via.placeholder.com/50" alt="Category 2">
                  </div>
                  <div class="category-name">
                     <h5>Category 2</h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="category-card d-flex align-items-center">
                  <div class="category-image">
                     <img src="https://via.placeholder.com/50" alt="Category 3">
                  </div>
                  <div class="category-name">
                     <h5>Category 3</h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="category-card d-flex align-items-center">
                  <div class="category-image">
                     <img src="https://via.placeholder.com/50" alt="Category 4">
                  </div>
                  <div class="category-name">
                     <h5>Category 4</h5>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3">
               <div class="category-card d-flex align-items-center">
                  <div class="category-image">
                     <img src="https://via.placeholder.com/50" alt="Category 5">
                  </div>
                  <div class="category-name">
                     <h5>Category 5</h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="category-card d-flex align-items-center">
                  <div class="category-image">
                     <img src="https://via.placeholder.com/50" alt="Category 6">
                  </div>
                  <div class="category-name">
                     <h5>Category 6</h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="category-card d-flex align-items-center">
                  <div class="category-image">
                     <img src="https://via.placeholder.com/50" alt="Category 7">
                  </div>
                  <div class="category-name">
                     <h5>Category 7</h5>
                  </div>
               </div>
            </div>
            <div class="col-md-3">
               <div class="category-card d-flex align-items-center">
                  <div class="category-image">
                     <img src="https://via.placeholder.com/50" alt="Category 8">
                  </div>
                  <div class="category-name">
                     <h5>Category 8</h5>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="bg-white w-full">
         <div class="px-4 py-16 sm:py-24 ">
            <h2 class="sr-only">Products</h2>
            <div
               class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 xl:gap-x-8">
               <a href="#" class="group">
                  <div
                     class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                     <img
                        src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3bbecbdf584e40398446a8bf0117cf62_9366/Samba_OG_Shoes_White_B75806_01_standard.jpg"
                        alt="Tall slender porcelain bottle with natural clay textured body and cork stopper."
                        class="h-full w-full object-cover object-center group-hover:opacity-75">
                  </div>
                  <h3 class="mt-4 text-sm text-gray-700">Earthen Bottle</h3>
                  <p class="mt-1 text-lg font-medium text-gray-900">48,000 VND</p>
               </a>
               <a href="#" class="group">
                  <div
                     class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                     <img
                        src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3bbecbdf584e40398446a8bf0117cf62_9366/Samba_OG_Shoes_White_B75806_01_standard.jpg"
                        alt="Olive drab green insulated bottle with flared screw lid and flat top."
                        class="h-full w-full object-cover object-center group-hover:opacity-75">
                  </div>
                  <h3 class="mt-4 text-sm text-gray-700">Nomad Tumbler</h3>
                  <p class="mt-1 text-lg font-medium text-gray-900">35,000 VND</p>
               </a>
               <a href="#" class="group">
                  <div
                     class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                     <img
                        src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3bbecbdf584e40398446a8bf0117cf62_9366/Samba_OG_Shoes_White_B75806_01_standard.jpg"
                        alt="Person using a pen to cross a task off a productivity paper card."
                        class="h-full w-full object-cover object-center group-hover:opacity-75">
                  </div>
                  <h3 class="mt-4 text-sm text-gray-700">Focus Paper Refill</h3>
                  <p class="mt-1 text-lg font-medium text-gray-900">89,000 VND</p>
               </a>
               <a href="#" class="group">
                  <div
                     class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                     <img
                        src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3bbecbdf584e40398446a8bf0117cf62_9366/Samba_OG_Shoes_White_B75806_01_standard.jpg"
                        alt="Hand holding black machined steel mechanical pencil with brass tip and top."
                        class="h-full w-full object-cover object-center group-hover:opacity-75">
                  </div>
                  <h3 class="mt-4 text-sm text-gray-700">Machined Mechanical Pencil</h3>
                  <p class="mt-1 text-lg font-medium text-gray-900">35,000 VND</p>
               </a>
               <a href="#" class="group">
                  <div
                     class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                     <img
                        src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3bbecbdf584e40398446a8bf0117cf62_9366/Samba_OG_Shoes_White_B75806_01_standard.jpg"
                        alt="Hand holding black machined steel mechanical pencil with brass tip and top."
                        class="h-full w-full object-cover object-center group-hover:opacity-75">
                  </div>
                  <h3 class="mt-4 text-sm text-gray-700">Machined Mechanical Pencil</h3>
                  <p class="mt-1 text-lg font-medium text-gray-900">35,000 VND</p>
               </a>
            </div>
         </div>
      </div>

      <div class="highlight-brand bg-gradient-to-r from-yellow-100 to-cyan-500 text-black py-5">
         <div class="container mx-auto">
            <h2 class="text-3xl font-bold-500 text-center mb-5">HIGHLIGHT BRAND</h2>
            <div class="grid grid-cols-6 gap-4">
               <!-- Brand 1 -->
               <div class="col-span-1">
                  <img src="https://loodibee.com/wp-content/uploads/Adidas-Logo.png" alt="Brand 1"
                     class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 2 -->
               <div class="col-span-1">
                  <img
                     src="https://th.bing.com/th/id/R.aab35755a4d330b3ca8a9ae84df97ff3?rik=hyM34bcYqESnJw&riu=http%3a%2f%2fclipart-library.com%2fimages_k%2fnike-transparent-logo%2fnike-transparent-logo-6.png&ehk=2hz3wcho0TUwsvLbICMFLxrEOSC3JVS7azVwTMBtzl8%3d&risl=&pid=ImgRaw&r=0"
                     alt="Brand 2" class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 3 -->
               <div class="col-span-1">
                  <img
                     src="https://th.bing.com/th/id/R.45c1ad3faa7af37424c90eb624518103?rik=O%2fpMtJ1Wrbvawg&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fpuma-png-download-1500.png&ehk=cn4MKCjlz4Xjw%2fxkgzKzklaV2LHcsFF5C%2b4fANHN44o%3d&risl=&pid=ImgRaw&r=0"
                     alt="Brand 3" class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 4 -->
               <div class="col-span-1">
                  <img src="https://logospng.org/download/converse/converse-1536.png" alt="Brand 4"
                     class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 5 -->
               <div class="col-span-1">
                  <img
                     src="https://th.bing.com/th/id/R.3217255580cc59b52f161b4597da8de5?rik=tDruHvClhUAwtg&riu=http%3a%2f%2fassets.stickpng.com%2fthumbs%2f5842f005a6515b1e0ad75b0f.png&ehk=VsN1ZV76drR5%2fSR52OU3jf0xXVobjFJSh3pXSBEWROI%3d&risl=&pid=ImgRaw&r=0"
                     alt="Brand 5" class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 6 -->
               <div class="col-span-1">
                  <img
                     src="https://th.bing.com/th/id/R.69ffff5d53d6da00100a50b0511ebb7a?rik=J6ldDNQZ7QMZhw&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fnew-balance-logo-png-new-balance-logo-black-nb-3475.png&ehk=5y7%2ffpZkII%2bP2I1%2bwsyXnxCtVhXC5V56JujBRNZThqk%3d&risl=&pid=ImgRaw&r=0"
                     alt="Brand 6" class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 7 -->
               <div class="col-span-1">
                  <img
                     src="https://static1.squarespace.com/static/5fb69cf07a80c250e62f6400/t/6241c9a9a8025670f964714b/1648478633342/Reebok_LogoSuite_Lockup_Black.png"
                     alt="Brand 7" class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 8 -->
               <div class="col-span-1">
                  <img src="https://via.placeholder.com/80" alt="Brand 8" class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 9 -->
               <div class="col-span-1">
                  <img src="https://via.placeholder.com/80" alt="Brand 9" class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 10 -->
               <div class="col-span-1">
                  <img src="https://via.placeholder.com/80" alt="Brand 10" class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 11 -->
               <div class="col-span-1">
                  <img src="https://via.placeholder.com/80" alt="Brand 11" class="mx-auto max-w-full h-auto max-h-24">
               </div>
               <!-- Brand 12 -->
               <div class="col-span-1">
                  <img src="https://via.placeholder.com/80" alt="Brand 12" class="mx-auto max-w-full h-auto max-h-24">
               </div>
            </div>
            <div class="text-center mt-4">
               <button class="bg-white text-black px-4 py-2 rounded-md font-semibold hover:bg-blue-100">SHOW
                  ALL</button>
            </div>
         </div>
      </div>



   </app-box-wrapper>
</div>
<app-footer></app-footer>