<div class="card w-100">
	<div class="card-body w-100">
		<app-breadcrum [items]="breadCrumb"></app-breadcrum>
		<div class="d-md-flex justify-content-between">
			<h2 class="my-2">View All Import Product</h2>
			<button class="btn btn-success my-2" (click)="createItem()">Import Product</button>
		</div>
		<!-- <div class="">
			<form [formGroup]="formSearch" (ngSubmit)="search()">
				<div class="row mb-5 align-items-end">
					<div class="col-md-3 col-xs-12">
						<label class="form-label">Import Product: </label>
						<input formControlName="id" type="text" class="form-control" placeholder="" />
					</div>
					<div class="col-md-6 col-xs-12 justify-content-between align-items-center">
						<div class="filter-btn d-flex gap-3">
							<button autofocus type="submit" class="btn btn-primary"><i class="fa fa-search"></i>
								Search</button>
							<button type="button" class="btn btn-secondary" (click)="resetSearchForm()">
								<i class="fa fa-sync"></i> Reset
							</button>
						</div>
					</div>
				</div>
			</form>
		</div> -->
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th class="text-center align-middle" style="min-width: 5%;">STT</th>
						<th class="text-center align-middle" style="min-width: 80px;">Import Date</th>
						<th class="text-center align-middle" style="min-width: 80px;">Origin</th>
						<th class="text-center align-middle" style="min-width: 10%;">Quantity</th>
						<th class="text-center align-middle" style="min-width: 10%;">Total Price</th>
						<th class="text-center align-middle" style="width: 10%;">Actions</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="dataList?.length > 0">
						<tr *ngFor="let item of dataList, index as i">
							<!-- <td>
								<input type="checkbox" [(ngModel)]="item.selected">
							</td> -->
							<td class="text-center align-middle">{{ (paging.page - 1) * paging.pageSize + i + 1 }}</td>
							<!-- <td class="text-center align-middle">{{ item.importDate}}</td> -->
							<td class="text-center align-middle">
								<ul class="date-list">
									<li><strong>Hours:</strong> {{ item.importDate | date: 'HH:mm' }}</li>
									<li><strong>Day:</strong> {{ item.importDate | date: 'dd/MM/yyyy' }}</li>
								</ul>
							</td>
							<td class="text-center align-middle">{{ item.origin}}</td>
							<td class="text-center align-middle">{{ item.quantity}}</td>
							<td class="text-center align-middle"><strong>$</strong>{{ item.totalPrice}}</td>
							<td class="text-center align-middle">
								<button mat-menu-item class="btn btn-outline-success me-2"
									(click)="viewItem(item.importId)">
									<i class="fa fa-eye"></i> View
								</button>
							</td>
						</tr>
					</ng-container>
					<ng-container *ngIf="dataList?.length <= 0">
						<tr>
							<td colspan="7">No data</td>
						</tr>
					</ng-container>

				</tbody>
			</table>
		</div>
		<app-pagination [paging]="paging" (changePaged)="pageChanged($event)"></app-pagination>
	</div>


</div>