<div *ngIf="isVisible" class="modal">
    <div class="modal-content">
        <div class="d-flex justify-content-between">
            <h2>{{ modalTitle }}</h2>
            <span class="close-button" (click)="closeModal()">&times;</span>
        </div>
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="row">
                <!-- Phần nhập liệu cho Account -->
                <div class="col-md-6">
                    <!-- Hiển thị ảnh xem trước -->
                    <div *ngIf="form.controls['image'].value" class="text-center">
                        <label class="form-label">Preview Image:</label><br>
                        <img [src]="form.controls['image'].value" alt="Profile Image" class="img-fluid mx-auto d-block">
                    </div>
                    <div class="form-group mb-3">
                        <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
                        <button type="button" class="upload-button" (click)="fileInput.click()">Upload Image</button>
                        <button *ngIf="selectedFile" type="button" class="save-button"
                            (click)="uploadImage('profile-staff')">Save Image</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" id="fullname" class="form-control"
                            [ngClass]="{'is-invalid': commonService.showStatusErrorV2(form, 'fullname')}"
                            formControlName="fullname" name="fullname"
                            (focusout)="commonService.onTrimFocusOutForm(form, 'fullname', $event)">
                        <app-form-error [control]="form.controls['fullname']" [message]="'Full Name is required!'"
                            [validation]="'required'"></app-form-error>
                    </div>
                    <div class="form-group required mb-3">
                        <label for="name" class="form-label">Email</label>
                        <input type="text" id="email" class="form-control"
                            [ngClass]="{'is-invalid': commonService.showStatusErrorV2(form, 'email')}"
                            formControlName="email" name="email"
                            (focusout)="commonService.onTrimFocusOutForm(form, 'email', $event)">
                        <app-form-error [control]="form.controls['email']" [message]="'Email is required!'"
                            [validation]="'required'"></app-form-error>
                    </div>
                    <div class="form-group required mb-3">
                        <label for="name" class="form-label">Phone Number</label>
                        <input type="text" id="phone" class="form-control" placeholder="Enter value"
                            [ngClass]="{'is-invalid': commonService.showStatusErrorV2(form, 'phone')}"
                            formControlName="phone" name="phone">
                        <app-form-error [control]="form.controls['phone']" [message]="'Phone is required!'"
                            [validation]="'required'"></app-form-error>
                    </div>

                    <!-- Hiển thị trường password chỉ khi tạo mới (typeForm == 1) -->
                    <div *ngIf="typeForm === 1" class="form-group required mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" class="form-control"
                            [ngClass]="{'is-invalid': commonService.showStatusErrorV2(form, 'password')}"
                            formControlName="password" name="password"
                            (focusout)="commonService.onTrimFocusOutForm(form, 'password', $event)">
                        <app-form-error [control]="form.controls['password']" [message]="'Password is required!'"
                            [validation]="'required'"></app-form-error>
                    </div>
                </div>
                <div class="d-flex justify-content-center my-3">
                    <button type="button" (click)="closeModal()" class="btn btn-secondary">Close</button>
                    <button type="submit" class="btn btn-success mx-2">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
