<div class="card w-100">
	<div class="card-body w-100">
		<app-breadcrum [items]="breadCrumb"></app-breadcrum>
		<div class="d-md-flex justify-content-between">
			<h2 class="my-2">View All Owners</h2>
			<button class="btn btn-success my-2" (click)="createItem()">Create New Owner</button>
		</div>
		<div class="">

			<form [formGroup]="formSearch" (ngSubmit)="search()">
				<div class="row mb-5">
					<div class="col-md-3 col-xs-12">
						<label class="form-label">Account Name: </label>
						<input formControlName="name" type="text" class="form-control" placeholder="Account name" />
					</div>
				</div>
				<div class="row mb-5 align-items-end">
					<div class="col-md-6 col-xs-12 justify-content-between align-items-center">
						<div class="filter-btn d-flex gap-3">
							<button autofocus type="submit" class="btn btn-primary"><i class="fa fa-search">
								</i>Search</button>
							<button type="button" class="btn btn-secondary" (click)="resetSearchForm()">
								<i class="fa fa-sync"> </i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<!-- <th><input type="checkbox" (click)="toggleSelectAll()"></th> -->
						<th class="text-center align-middle" style="width: 5%;">STT</th>
						<th class="text-center align-middle" style="min-width: 80px;">Image</th>
						<th class="text-center align-middle">Full Name</th>
						<th class="text-center align-middle">Email</th>
						<th class="text-center align-middle">Ban</th>
						<th class="text-center align-middle">Phone</th>
						<th class="text-center align-middle">Address</th>
						<th class="text-center align-middle">Actions</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngIf="dataList?.length > 0">
						<tr *ngFor="let item of dataList, index as i">
							<td>
								<input type="checkbox" [(ngModel)]="item.selected">
							</td>
							<td>{{ (paging.page - 1) * paging.pageSize + i + 1 }}</td>
							<td>
								<img [src]="item.image" alt="{{ item.name }}" class="thumbnail" width="80"
									height="80" />
							</td>
							<td>{{ item.fullname }}</td>
							<td>{{ item.email }}</td>
							<td>
								<span class="text-{{ item.isBan ? 'danger':'success' }}">{{item.isBan ? 'Ban' :
									'UnBan'}}</span>
							</td>
							<td>{{ item.phone }}</td>
							<td>{{ item.address}}</td>
							<td>

								<button mat-icon-button [matMenuTriggerFor]="menu"
									class="btn btn-sm btn-icon btn-bg-light btn-active-color-primary">
									<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
								</button>
								<mat-menu #menu="matMenu">
									<button mat-menu-item class="icon-button view-button"
										(click)="viewItem(item.ownerId)">
										<i class="fa fa-eye"></i> View
									</button>
									<button mat-menu-item class="icon-button edit-button"
										(click)="editItem(item.ownerId)">
										<i class="fa fa-pencil"></i> Edit
									</button>
									<button *ngIf="!item.isBan" mat-menu-item class="icon-button delete-button"
										(click)="updateBan(item.ownerId, true)">
										<i class="fa fa-lock text-danger"></i> Ban
									</button>
									<button *ngIf="item.isBan" mat-menu-item class="icon-button delete-button"
										(click)="updateBan(item.ownerId, false)">
										<i class="fa fa-unlock text-success"></i> Unban
									</button>
								</mat-menu>
							</td>
						</tr>
					</ng-container>
					<ng-container *ngIf="dataList?.length <= 0">
						<tr>
							<td colspan="8">No data</td>
						</tr>
					</ng-container>

				</tbody>
			</table>
		</div>
		<app-pagination [paging]="paging" (changePaged)="pageChanged($event)"></app-pagination>
	</div>
</div>
<app-loading [loading]="loading"></app-loading>

<app-form-owner [data]="selected" [modalTitle]="modalTitle" [typeForm]="typeForm" [isVisible]="openModal"
	(save)="saveItem($event)" (close)="closeModal()">
</app-form-owner>