<div class="card w-100">
    <div class="card-body w-100">
        <app-breadcrum [items]="breadCrumb"></app-breadcrum>
        <div class="d-md-flex justify-content-between">
            <h2 class="my-2">View Chats</h2>
        </div>
    </div>
    <div class="chat-container">
        <div class="sidebar">
            <ul class="people">
                <li class="person" *ngFor="let person of dataListAll" (click)="selectPerson(person.roomId)">
                    <span class="title">{{ person.accountName }}</span>
                    <span class="time" style="font-style: italic;">
                        {{ person.timestamp | date: 'HH:mm, dd.MM.yyyy' }}
                    </span>
                    <span class="preview">{{ person.content }}</span>
                </li>
            </ul>
        </div>

        <div class="chatbox">
            <div class="top-bar">
                <div class="avatar">
                    <img *ngIf="selectedPerson?.accountImage" [src]="selectedPerson.accountImage" alt="Avatar" />
                </div>
                <div class="name">{{ selectedPerson?.accountName }}</div>
            </div>
            <div class="middle" *ngIf="dataListRoom">
                <div *ngFor="let message of dataListRoom" class="bubble" [ngClass]="{
                    'user-message': message.senderType === 'User',
                    'owner-message': message.senderType === 'Owner',
                    'staff-message': message.senderType === 'Staff'
                }">
                    {{ message.content }}
                </div>
            </div>
            <div class="bottom-bar">
                <div class="chat">
                    <input [(ngModel)]="messageContent" type="text" placeholder="Type a message..." />
                    <button type="button" (click)="sendMessage()"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
        
    </div>
</div>