<app-header></app-header>
<div class="bg-gray-100 w-full pt-5" style="    height: -webkit-fill-available;">
   <app-box-wrapper>
      <div class="cart-page ">
         <div class="Za1N64">
            <div class="SQGY8I"><label class="stardust-checkbox"><input class="stardust-checkbox__input" type="checkbox"
                     aria-checked="false" aria-disabled="false" tabindex="0" role="checkbox"
                     aria-label="Click here to select all products">
                  <div class="stardust-checkbox__box"></div>
               </label></div>
            <div class="jX4z5R">Sản Phẩm</div>
            <div class="jHcdvj">Đơn Giá</div>
            <div class="o1QlcH">Số Lượng</div>
            <div class="RT5qRd">Số Tiền</div>
            <div class="TkKRaF">Thao Tác</div>
         </div>
         <section class="AuhAvM">
            <h3 class="a11y-hidden">Shop Section</h3>
            <div class="JsC6Oq NWPcV8">
               <div class="gzSvrb">
                  <div class="Ll5dDW"><label class="stardust-checkbox"><input class="stardust-checkbox__input"
                           type="checkbox" aria-checked="false" tabindex="0" role="checkbox"
                           aria-label="Click here to select all products in Meki - Văn Phòng Phẩm">
                        <div class="stardust-checkbox__box"></div>
                     </label></div><a class="QcqMX5" href="https://meet.google.com/cmq-awbp-wbm?pli=1&authuser=1">
                     <div><svg width="17" height="16" viewBox="0 0 17 16" class="Koi0Pw">
                           <title>Shop Icon</title>
                           <path
                              d="M1.95 6.6c.156.804.7 1.867 1.357 1.867.654 0 1.43 0 1.43-.933h.932s0 .933 1.155.933c1.176 0 1.15-.933 1.15-.933h.984s-.027.933 1.148.933c1.157 0 1.15-.933 1.15-.933h.94s0 .933 1.43.933c1.368 0 1.356-1.867 1.356-1.867H1.95zm11.49-4.666H3.493L2.248 5.667h12.437L13.44 1.934zM2.853 14.066h11.22l-.01-4.782c-.148.02-.295.042-.465.042-.7 0-1.436-.324-1.866-.86-.376.53-.88.86-1.622.86-.667 0-1.255-.417-1.64-.86-.39.443-.976.86-1.643.86-.74 0-1.246-.33-1.623-.86-.43.536-1.195.86-1.895.86-.152 0-.297-.02-.436-.05l-.018 4.79zM14.996 12.2v.933L14.984 15H1.94l-.002-1.867V8.84C1.355 8.306 1.003 7.456 1 6.6L2.87 1h11.193l1.866 5.6c0 .943-.225 1.876-.934 2.39v3.21z"
                              stroke-width=".3" stroke="#333" fill="#333" fill-rule="evenodd"></path>
                        </svg></div><span style="margin-left: 10px;">LuanDM Shop</span>
                  </a>
                  <div class="cVlPY7"></div>
               </div>
            </div>
            <section class="RqMReY" role="list">
               <div class="_9G37m">
                  <div class="lDiGJB kEMRam" role="listitem">
                     <h4 class="a11y-hidden">cart_accessibility_item</h4>
                     <div class="f1bSN6">
                        <div class="Xp4RLg"><label class="stardust-checkbox"><input class="stardust-checkbox__input"
                                 type="checkbox" aria-checked="false" aria-disabled="false" tabindex="0" role="checkbox"
                                 aria-label="Click here to select this product">
                              <div class="stardust-checkbox__box"></div>
                           </label></div>
                        <div class="brf29Y">
                           <div class="bzhajK"><a title="FORUM LOW CLASSIC SHOES"
                                 href="http://localhost:4200/product-detail"><img class="jFEiVQ"
                                    src="https://assets.adidas.com/images/w_600,f_auto,q_auto/ce738cbe5342421996feaf5001044964_9366/Giay_Campus_00s_Xam_HQ8707_01_standard.jpg"
                                    alt="product image"></a>
                              <div class="Ou_0WX"><a class="c54pg1" title="FORUM LOW CLASSIC SHOES"
                                    href="http://localhost:4200/product-detail">
                                    FORUM LOW CLASSIC SHOES
                                 </a>
                                 <div class="cate">Category: Sneaker</div>
                                 <div class="brand">Brand: Adidas</div>

                              </div>
                           </div>

                        </div>
                        <div class="eHDC_o">
                           <div class="qNRZqG"><button class="mM4TZ8" role="button" tabindex="0" fdprocessedid="gkbssu">
                                 <div class="iIg1CN">Size 40
                                 </div>
                              </button>
                           </div>
                        </div>
                        <div class="gJyWia">
                           <div><span class="vjkBXu">100$</span></div>
                        </div>
                        <div class="sluy3i">
                           <div class="GpmJtT shopee-input-quantity"><button class="WNSVcC" aria-label="Decrease"
                                 fdprocessedid="2ycv1l"><svg enable-background="new 0 0 10 10" viewBox="0 0 10 10" x="0"
                                    y="0" class="shopee-svg-icon">
                                    <polygon points="4.5 4.5 3.5 4.5 0 4.5 0 5.5 3.5 5.5 4.5 5.5 10 5.5 10 4.5">
                                    </polygon>
                                 </svg></button><input class="WNSVcC g2m9n4" type="text" role="spinbutton"
                                 aria-valuenow="2" value="2" fdprocessedid="pwydo"><button class="WNSVcC"
                                 aria-label="Increase" fdprocessedid="d6fufe"><svg enable-background="new 0 0 10 10"
                                    viewBox="0 0 10 10" x="0" y="0" class="shopee-svg-icon icon-plus-sign">
                                    <polygon
                                       points="10 4.5 5.5 4.5 5.5 0 4.5 0 4.5 4.5 0 4.5 0 5.5 4.5 5.5 4.5 10 5.5 10 5.5 5.5 10 5.5">
                                    </polygon>
                                 </svg></button></div>
                        </div>
                        <div class="HRvCAv"><span>200$</span><span class="a11y-hidden">Total price: 200$</span>
                        </div>
                        <div class="bRSn43 TvSDdG"><button class="lSrQtj" fdprocessedid="2chvzo">Xóa</button>
                        </div>
                     </div>
                  </div>
                  <div class="t89ViJ"></div>
               </div>
            </section>
         </section>

         <section class="yn6AIc dhqg2H">
            <div class="WhvsrO Kk1Mak">
               <h3 class="a11y-hidden">cart_accessibility_footer_checkout_row</h3>
               <div class="u4pma8"><label class="stardust-checkbox"><input class="stardust-checkbox__input"
                        type="checkbox" aria-checked="false" aria-disabled="false" tabindex="0" role="checkbox"
                        aria-label="Click here to select all products">
                     <div class="stardust-checkbox__box"></div>
                  </label></div><button class="v5CBXg clear-btn-style">Chọn Tất Cả (1)</button><button
                  class="clear-btn-style GQ7Hga">Xóa</button>
               <div class=""></div>
               <div class="iqpIui"></div>
               <div class="BV92a3" role="region">
                  <div class="DScaTh">
                     <div class="znJ7TE">
                        <div class="CoYXUV">Tổng thanh toán (0 Sản phẩm):</div>
                        <div class="mketV9">₫0</div>
                     </div>
                  </div>
                  <!-- <div class="unV7eM"></div> -->
               </div><button class="shopee-button-solid shopee-button-solid--primary"><span class="SHq91i">Mua
                     hàng</span></button>
            </div>
         </section>
      </div>
   </app-box-wrapper>
</div>
<!-- <app-footer></app-footer> -->