<div class="page">
   <app-sidebar-profile class="flex"></app-sidebar-profile>
   <div class="content">
      <div class="order-details">
         <div class="order-header">
            <a href="#" class="back-link" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                     d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
               </svg>TRỞ LẠI</a>
            <div class="">
               <span class="order-id">MÃ ĐƠN HÀNG: 240527DQU2EP1M</span>
               <span class="ewYlfp">|</span>
               <span class="order-status text-red-500">GIAO HÀNG THÀNH CÔNG</span>
            </div>
         </div>
         <div class="progress-container">
            <div class="progress-step done">
               <div class="step-icon">📄</div>
               <div class="step-label">Đơn Hàng Đã Đặt</div>
            </div>

            <div class="progress-step done">
               <div class="step-icon">🚚</div>
               <div class="step-label">Đã Giao Cho ĐVVC</div>
            </div>
            <div class="progress-step current">
               <div class="step-icon">📦</div>
               <div class="step-label">Chờ Giao Hàng</div>
            </div>
            <div class="progress-step">
               <div class="step-icon">⭐</div>
               <div class="step-label">Đánh Giá</div>
            </div>
         </div>
         <div class="check">
            <div class="order-notes">
               <p>Hãy kiểm tra cẩn thận tất cả các sản phẩm trong đơn hàng trước khi bấm "Đã nhận được hàng".</p>
            </div>
            <div class="order-actions">
               <button class="btn-received">Đã Nhận Hàng</button>
               <!-- <button class="btn-return-request">Yêu Cầu Trả Hàng/Hoàn Tiền</button> -->
            </div>
         </div>

         <div class="TWLNg9">
            <div class="qJkRlY"></div>
         </div>
         <div class="sZoQ_a">
            <div>Địa Chỉ Nhận Hàng</div>
         </div>
         <div class="address">
            <div class="address-section">
               <span class="name">Luan DM</span>
               <div class="mt-2">
                  <p>090 0909 999</p>
                  <p>1600 Amphitheater Parkway Mountain View CA, LAX, Sân bay Los Angeles hoặc Đỉnh Everest, Nepal.</p>
               </div>
            </div>
            <div class="tracking-section">
               <div class="tracking-item done">
                  <div class="tracking-time">12:24 29-05-2024</div>
                  <div class="tracking-info">
                     <strong>Đã giao</strong>
                     <p>Giao hàng thành công. Người nhận hàng: Minh Mẫn</p>
                  </div>
               </div>
               <div class="tracking-item">
                  <div class="tracking-time">08:14 29-05-2024</div>
                  <div class="tracking-info">
                     <strong>Đang giao hàng</strong>
                     <p>Đơn hàng sẽ sớm được giao, vui lòng chú ý điện thoại</p>
                  </div>
               </div>
               <div class="tracking-item">
                  <div class="tracking-time">07:10 29-05-2024</div>
                  <div class="tracking-info">
                     <strong>Đơn hàng đã đến trạm giao hàng 71-DTP Lap Vo Hub</strong>
                  </div>
               </div>
            </div>
         </div>


         <div class="order-header">
            <div class="">
               <span class="shop-name">KhangLee_Shop</span>
               <button class="btn-view-shop">Xem Shop</button>
            </div>
         </div>
         <div class="order-product">
            <div class="flex">
               <img class="product-image"
                  src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3bbecbdf584e40398446a8bf0117cf62_9366/Giay_Samba_OG_trang_B75806_01_standard.jpg"
                  alt="Product Image">
               <div class="product-details">
                  <div class="">
                     <div class="product-name">
                        <span>GAZELLE INDOOR SHOES</span>
                     </div>
                     <div class="product-specs">
                        <span>Category: Sneaker, </span>
                        <span>Brand: Adidas</span>
                     </div>
                     <div class="product-quantity">
                        <span>x1</span>
                     </div>
                  </div>
               </div>
            </div>
            <span class="order-price">$78</span>
         </div>

         <div class="wGEXn5">
            <div class="kW3VDc">
               <div class="Vg5MF2"><span>Tổng tiền hàng</span>
               </div>
               <div class="Tfejtu">
                  <div>$78</div>
               </div>
            </div>
            <div class="kW3VDc">
               <div class="Vg5MF2"><span>Voucher từ Shop</span>
               </div>
               <div class="Tfejtu">
                  <div>-$3</div>
               </div>
            </div>
            <div class="kW3VDc WKCLpC">
               <div class="Vg5MF2 oKK6bX"><span>Thành tiền</span></div>
               <div class="Tfejtu">
                  <div class="PUZuMi">$75</div>
               </div>
            </div>
            <div class="kW3VDc">
               <div class="Vg5MF2"><span>Phương thức thanh toán</span>
               </div>
               <div class="Tfejtu">
                  <div>Ship COD</div>
               </div>
            </div>

         </div>
      </div>
   </div>