<div *ngIf="isVisible" class="modal">
	<div class="modal-content">
		<div class="d-flex justify-content-between">
			<h2>{{ modalTitle }}</h2>
			<span class="close-button" (click)="closeModal()">&times;</span>
		</div>
		<form [formGroup]="form" (ngSubmit)="saveBrand()">
			<div class="form-group required mb-3">
				<label for="name" class="form-label">Name</label>
				<input type="text" id="name" class="form-control"
					[ngClass]="{'is-invalid': commonService.showStatusErrorV2(form, 'Name')}" formControlName="Name"
					name="name" (focusout)="commonService.onTrimFocusOutForm(form, 'Name', $event)" />

				<app-form-error [control]="form.controls['Name']" [message]="'Brand Name is required!'"
					[validation]="'required'"></app-form-error>
			</div>
			<div class="form-group required mb-3">
				<label for="image" class="form-label ">Image URL</label>
				<input type="text" id="image" class="form-control"
					[ngClass]="{'is-invalid': commonService.showStatusErrorV2(form, 'Image')}" formControlName="Image"
					name="image">
				<app-form-error [control]="form.controls['Image']" [message]="'Brand image is required!'"
					[validation]="'required'"></app-form-error>
			</div>
			<!-- <div class="form-group required mb-3">
				<label for="image" class="form-label ">CategoryID</label>
				<ng-select [items]="categories" bindLabel="name"
					[ngClass]="{'is-invalid': commonService.showStatusErrorV2(form, 'CategoryId')}"
					formControlName="Image" bindValue="categoryId" formControlName="CategoryId"></ng-select>
				<app-form-error [control]="form.controls['CategoryId']" [message]="'Category id is required!'"
					[validation]="'required'"></app-form-error>
			</div> -->
			<div class="d-flex justify-content-center my-3">
				<button type="button" (click)="closeModal()" class="btn btn-secondary">Cancel</button>
				<button type="submit" class="btn btn-success mx-2">Save</button>
			</div>
		</form>
	</div>
</div>