<div class="order-list">
   <div class="order-item">
      <div class="order-header">
         <div class="">
            <span class="shop-name">KhangLee_Shop</span>
            <button class="btn-view-shop">Xem Shop</button>
         </div>
         <div class="">
            <span class="order-stage text-red-500">ĐANG GIAO HÀNG</span>
         </div>
      </div>
      <div class="order-product" (click)="goToDetails()">
         <div class="flex">
            <img class="product-image"
               src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/3bbecbdf584e40398446a8bf0117cf62_9366/Giay_Samba_OG_trang_B75806_01_standard.jpg"
               alt="Product Image">
            <div class="product-details">
               <div class="">
                  <div class="product-name">
                     <span>GAZELLE INDOOR SHOES</span>
                  </div>
                  <div class="product-specs">
                     <span>Category: Sneaker, </span>
                     <span>Brand: Adidas</span>
                  </div>
                  <div class="product-quantity">
                     <span>x1</span>
                  </div>
               </div>
            </div>
         </div>
         <span class="order-price">$78</span>
      </div>
      <div class="order-summary">
         <span class="text">Thành tiền:</span>
         <span class="order-total">$75</span>
      </div>
      <div class="order-footer">
         <div class="">
            <span>Vui lòng chỉ nhấn "Đã nhận hàng" khi đơn hàng đã được giao đến bạn và sản phẩm nhận được
               không có vấn đề nào.
            </span>
         </div>
         <div class="order-actions">
            <button class="btn-received" disabled>Đã Nhận Hàng</button>
         </div>
      </div>
   </div>
</div>