<app-box-wrapper [className]="boxWrapperClass">
   <div class="contain w-full flex flex-column justify-content-center align-items-center gap-4 pt-3 pb-3">
      <div class="image lg:w-4 md:w-4 sm:w-8">
         <img src="../../../../assets/images/error/404-page-not-found.png" class="w-full">
      </div>
      <div class="lg:w-8 md:w-8 sm:w-8 flex flex-column justify-content-center align-items-center gap-4 ">
         <h2 class="text-primary font-bold m-1">Lỗi 404</h2>
         <h1 class="text-gray-600 font-light m-0">Chúng tôi không thể tìm thấy trang bạn đang tìm kiếm....</h1>
         <div class="content font-light flex flex-column align-items-center gap-2">
            <div class="text-primary">Trang có thể không còn tồn tại hoặc đường dẫn URL có thể không chính xác.</div>
            <div class=" text-gray-500 ">Bạn có thể nhấn nút quay lại hoặc nhấn vào đây để trở về <a href="/"
                  class="font-bold">trang chủ</a>.</div>
         </div>
      </div>
   </div>
</app-box-wrapper>