<app-box-wrapper>
   <div class="blog-details-page">
      <div class="content">
         <div class="image-section">
            <img src="https://image.slideserve.com/621431/2-iii-1-basis-l.jpg" alt="IMAGE" />
         </div>
         <div class="content-section">
            <h1>Vệ sinh giày giặt giày cao cấp 4.0</h1>
            <p>
               HERAMO tự hào là đơn vị giặt ghế sofa, nệm, rèm, thảm cao cấp hàng đầu khu vực TP. Hồ Chí Minh. Đồ của
               bạn sẽ được xử lý chuyên nghiệp, bài bản theo từng loại chất liệu, kiểu dáng với dung dịch vệ sinh nhập
               khẩu đảm bảo độ an toàn tuyệt đối với người dùng & thân thiện với chất liệu vải và môi trường.
            </p>
            <p>
               Chúng tôi luôn đưa ra các giải pháp vệ sinh tối ưu và sẵn sàng công khai minh giá cả để khách hàng có sự
               lựa chọn đúng đắn nhất. Với gần 6 năm kinh nghiệm và được tin dùng bởi hơn 60,000 khách hàng, HERAMO cam
               kết mang đến cho bạn trải nghiệm khác biệt - hoàn toàn tiện lợi, chất lượng vượt trội và an tâm tuyệt
               đối.
            </p>
            <p>
               Hệ thống chuỗi cửa hàng và nhượng quyền của HERAMO trải dài khắp TP. Hồ Chí Minh và đang có 13 chi nhánh.
            </p>
            <button (click)="contactUs()">NHẬN TƯ VẤN NGAY</button>
         </div>
      </div>
      <div class="">

      </div>
   </div>
</app-box-wrapper>