<div *ngIf="isVisible" class="modal">
	<div class="modal-content card">
		<div class="d-flex justify-content-between">
			<h2>{{ modalTitle }}</h2>
			<span class="close-button" (click)="closeModal()">&times;</span>
		</div>
		<form [formGroup]="form" (ngSubmit)="submit()">
			<div class="overflow-y-scroll card-body" style="max-height: 70vh;">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group mb-3">
							<label for="ImageList" class="form-label">Image URL</label>

						</div>
						<div class="scroll-table">
							<div class="image-container">
								<div *ngFor="let image of originalImages; let i = index"
									class="thumbnail-container">
									<img [src]="image.linkImage" alt="{{ image.name }}" class="thumbnail" />
									<button type="button" (click)="removeImage(i)"
										class="remove-button">&times;</button>
								</div>
								<div *ngFor="let image of newImages; let i = index" class="thumbnail-container">
									<img [src]="image.linkImage" alt="{{ image.name }}" class="thumbnail" />
									<button type="button" (click)="removeNewImage(i)"
										class="remove-button">&times;</button>
								</div>
							</div>

							<ul>
								<!-- <li *ngFor="let file of selectedFiles; let i = index">
								{{ file.name }}
								<button type="button" (click)="removeFile(i)" class="remove-button">&times;</button>
							  </li> -->
							</ul>
						</div>

						<input type="file" #fileInput (change)="onFilesSelected($event)" multiple hidden>
						<button type="button" class="upload-button" (click)="fileInput.click()">Select Images <i
								class="bi bi-plus-circle"></i></button>


						<!-- <div *ngIf="formErrors.ImageLinks">
							<small class="text-danger">{{ formErrors.ImageLinks }}</small>
						</div> -->
					</div>
					<div class="col-md-6">
						<div class="form-group required mb-3">
							<label for="name" class="form-label">Name</label>
							<input type="text" id="name" class="form-control" formControlName="Name" name="Name" />
							<div *ngIf="formErrors.Name">
								<small class="text-danger">{{ formErrors.Name }}</small>
							</div>
						</div>
						<div class="form-group required mb-3">
							<label for="Price" class="form-label">Price</label>
							<input type="number" id="Price" class="form-control" formControlName="Price"
								name="Price" />
							<div *ngIf="formErrors.Price">
								<small class="text-danger">{{ formErrors.Price }}</small>
							</div>
						</div>
						<div class="form-group required mb-3">
							<label for="DescriptionId" class="form-label">Description</label>
							<ng-select [items]="descriptions" bindLabel="name" bindValue="descriptionId"
								formControlName="DescriptionId"></ng-select>
							<div *ngIf="formErrors.DescriptionId">
								<small class="text-danger">{{ formErrors.DescriptionId }}</small>
							</div>
						</div>
						<div class="form-group required mb-3">
							<label for="CategoryId" class="form-label">Category</label>
							<ng-select [items]="categories" bindLabel="name" bindValue="categoryId"
								formControlName="CategoryId"></ng-select>
							<div *ngIf="formErrors.CategoryId">
								<small class="text-danger">{{ formErrors.CategoryId }}</small>
							</div>
						</div>
						<div class="form-group required mb-3">
							<label for="BrandId" class="form-label">Brand</label>
							<ng-select [items]="brands" bindLabel="name" bindValue="brandId"
								formControlName="BrandId"></ng-select>
							<div *ngIf="formErrors.BrandId">
								<small class="text-danger">{{ formErrors.BrandId }}</small>
							</div>
						</div>
					</div>
					<div class="form-group col-12 required mb-3">
						<label for="ShortDescription" class="form-label">Short Description</label>
						<div formControlName="ShortDescription" [ngxSummernote]="config" class="ngx-summernote"
							row="2">
						</div>
						<div *ngIf="formErrors.ShortDescription">
							<small class="text-danger">{{ formErrors.ShortDescription }}</small>
						</div>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center my-3">
				<button type="button" (click)="closeModal()" class="btn btn-secondary">Cancel</button>
				<button type="submit" class="btn btn-success mx-2">Save</button>
			</div>
		</form>
	</div>
</div>