<app-box-wrapper [className]="boxWrapperClass">
   <div class="contain w-full flex flex-column justify-content-center align-items-center gap-3">
      <div class="image lg:w-4 md:w-4 sm:w-8">
         <img src="../../../../assets/images/error/500_internalservererror_fullpage.png" class="w-full">
      </div>
      <div class="md:w-7 sm:w-8 flex flex-column justify-content-center align-items-center gap-4 ">
         <h2 class="text-primary font-bold m-1">Lỗi 500</h2>
         <h1 class="text-gray-600 font-light m-0">Máy chủ gặp phải lỗi nội bộ</h1>
         <div class="content font-light flex flex-column align-items-center gap-2">
            <div class="text-primary">Hãy thử quay lại sau hoặc làm mới trang.</div>
         </div>
      </div>
   </div>
</app-box-wrapper>