

<div *ngIf="isVisible" class="modal">
	<div class="modal-content modal-sm">
		<div class="d-flex justify-content-between">
			<h2>{{ modalTitle }}</h2>
			<span class="close-button" (click)="closeModal()">&times;</span>
		</div>
		<form [formGroup]="form">
			<div class="form-group required mb-3">
				<label for="name" class="form-label">Name</label>
				<input type="text" id="name" class="form-control" placeholder="Enter value"
					[ngClass]="{'is-invalid': commonService.showStatusErrorV2(form, 'Name')}"
					formControlName="Name" name="name"
					(focusout)="commonService.onTrimFocusOutForm(form, 'Name', $event)" />
				<app-form-error [control]="form.controls['Name']" [message]="'Name is required!'"
					[validation]="'required'"></app-form-error>
			</div>
			<div class="form-group required mb-3">
				<label for="iamge" class="form-label">Image</label>
				<input type="text" id="iamge" class="form-control" placeholder="Enter value"
					[ngClass]="{'is-invalid': commonService.showStatusErrorV2(form, 'Image')}"
					formControlName="Image" name="iamge"
					(focusout)="commonService.onTrimFocusOutForm(form, 'Image', $event)" />
				<app-form-error [control]="form.controls['Image']" [message]="'Image is required!'"
					[validation]="'required'"></app-form-error>
			</div>

			<div class="d-flex justify-content-center my-3">
				<button type="button" (click)="closeModal()" class="btn btn-secondary">{{typeForm == 2 ? 'Close' : 'Cancel'}}</button>
				<button type="submit"  (click)="submit()" class="btn btn-success mx-2" *ngIf="typeForm != 2">Save</button>
			</div>
		</form>
	</div>
</div>
