<div class="card w-100">
    <div class="card-body w-100">
      <app-breadcrum [items]="breadCrumb"></app-breadcrum>
      <div class="d-md-flex justify-content-between">
        <h2 class="my-2">Import Product Details</h2>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive table-bordered">
        <form [formGroup]="form">
          <!-- Input for Origin -->
          <div class="form-group mb-3">
            <label for="origin">Origin</label>
            <input type="text" formControlName="origin" class="form-control" />
          </div>
  
          <!-- Table for Product Details -->
          <table class="table">
            <thead>
              <tr>
                <th class="text-center align-middle" style="width: 5%;">STT</th>
                <th class="text-center align-middle" style="min-width: 80px;">Product</th>
                <th class="text-center align-middle" style="width: 10%;">Size</th>
                <th class="text-center align-middle" style="width: 10%;">Price</th>
                <th class="text-center align-middle" style="width: 10%;">Quantity</th>
                <th class="text-center align-middle" style="width: 10%;">Actions</th>
              </tr>
            </thead>
            <tbody formArrayName="rows">
              <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i">
                <td class="text-center align-middle">{{ i + 1 }}</td>
                <td>
                  <ng-select [items]="product" bindLabel="name" bindValue="productId" formControlName="product"
                    [ngClass]="{'disabled-input': isRowDisabled(i)}" [attr.disabled]="isRowDisabled(i) ? true : null">
                  </ng-select>
                </td>
                <td>
                  <ng-select [items]="size" bindLabel="name" bindValue="sizeId" formControlName="size"
                    [ngClass]="{'disabled-input': isRowDisabled(i)}" [attr.disabled]="isRowDisabled(i) ? true : null">
                  </ng-select>
                </td>
                <td class="text-center align-middle">
                  <input type="number" formControlName="price" class="form-control" [ngClass]="{'disabled-input': isRowDisabled(i)}"
                    [attr.disabled]="isRowDisabled(i) ? true : null" />
                </td>
                <td class="text-center align-middle">
                  <input type="number" formControlName="quantity" class="form-control" [ngClass]="{'disabled-input': isRowDisabled(i)}"
                    [attr.disabled]="isRowDisabled(i) ? true : null" />
                </td>
                <td class="text-center align-middle">
                  <button (click)="removeRow(i)" class="btn btn-danger" [disabled]="rows.length === 1">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
          <button type="button" (click)="addRow()" class="btn btn-primary">Add Row</button>
          <button type="button" (click)="save()" class="btn btn-success">Import</button>
        </form>
      </div>
    </div>
  </div>
  